<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link crossorigin="anonymous" rel="stylesheet" href="/stylesheets/error.css">
    <link crossorigin="anonymous" rel="preconnect" href="https://fonts.googleapis.com">
    <link crossorigin="anonymous" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
<body>
    <div class="error">
        <p class="error-heading"><%= err.message %></p>
        <% if(process.env.NODE_ENV!=="production") { %>
        <p class="error-content"><%= err.stack %></p>
        <% } %>
    </div>
</body>
</html>