<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Keeper</title>
</head>

<body>
    <h1>ToDo Keeper</h1>
    <ul>
        <% for(let item of allItems){ %>
            <li> 
                <form action="/completed/<%= item._id %>?_method=PUT" method="POST"> 
                    <input type="checkbox" <%= item.completed==true?'checked':'' %> onChange=this.form.submit() > 
                </form> 
                <%= item.task %>
                <form action="/delete/<%= item._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% } %>
    </ul>

    <form action="/home" method="POST">
        <label for="task">Task</label>
        <input id="task" type="text" name="task">
    </form>
</body>

</html>