<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/flash.css">
    <title>List Keeper</title>
</head>
<body>
    <%- include('./flash') %>
    <div>
        <%- include('./navbar') %>
    </div>
    <div class="landing">
        <div class="landing-img">
            <img src="/THG_M78_07 (1).png" alt="">
        </div>
        <div class="landing-content">
            <!-- <h1>List Keeper</h1> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet aliquid ea quaerat sit quam, hic dolore illum! Voluptates distinctio sint, suscipit cupiditate, pariatur quisquam sit molestiae veniam esse adipisci animi.
            Fugiat dolores nulla eaque adipisci suscipit, ratione reprehenderit praesentium aliquid ipsa soluta ducimus error in, voluptatibus nostrum corrupti distinctio dicta animi! Excepturi commodi, quas eos quibusdam porro aperiam fugiat velit?
            </p> -->
            <h3>Effortless Task Organization:</h3>
            <p>
                A WebApp where you can categorize your tasks effortlessly by creating multiple lists. Whether it's work, personal, or academic, our app allows you to embed tasks within different lists, providing a structured approach to your to-dos.
            </p>
            <h3>Secure and Private:</h3>
            <p>
                Your data privacy is our priority. Enjoy a secure and private task management experience. With authentication and authorization features, your tasks are protected, ensuring that only authorized users can access their respective lists.
            </p>
            <a href="/home"><button class="btn-start">Get Started</button></a>
        </div>
    </div>
    <script src="/javascripts/flash.js"></script>
</body>
</html>