@media (min-width:680px) {
    
    *{
        cursor:none;
    }
    
    .cursor {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        border: 2px solid rgb(247, 238, 116);
        transition: all 200ms ease-out;
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        transform: translate(calc(-50% + 15px), -50%);
        z-index: 1000;
    }
      
    .cursor2 {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: rgb(247, 238, 116);
        position: fixed;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: width .3s, height .3s, opacity .3s;
        z-index: 1000;
    }
}