.error{
    /* background-color: rgb(255, 105, 105); */
    background-color: #ff7f7f;
    width: 60%;
    margin: 5vh 20% 5vh 20%;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
    /* border: 2px solid rgb(160, 0, 0); */
    border: 2px solid #ab2400;
    box-shadow: 0 0 10px 0 #ab2400;
}
.error-heading{
    font-size: 2rem;
    font-weight: 600;
}
.error-content{
    color: #ab2400;
    font-size: 1.1rem;
}